.App {
  position: relative;
  height: 100vh;
}
.layout {
  display: flex;
}
.right-side {
  flex: 1;
  background: rgba(103, 44, 74, 0.78);
  background: rgba(252, 246, 249, 0.78);
  border: 3px solid #ffffff;
  backdrop-filter: blur(4.5px);
  border-radius: 32px;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0;
  }
}
